* {
    margin: 0;
    padding: 0;

}

body {
    margin-inline: auto;
    overflow-x: hidden;
    /* border:solid black; */
}


/* *************
Navbar
*********** */
.navbar {
    /* position: fixed; */
    box-sizing: border-box;
    /* position: absolute; */
}

.navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

.nav-link:hover {
    transform: scale(1.1);
}


/* *************
Main
*********** */
/* .main{
    background: url(./images/main.jpg) ;
    background-size: cover;
    background-position: 20% ;
    
    
    
} */

/* .home-text{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    margin: 5px;
} */




/* *************
specs
*********** */


.specs {
    margin: auto;
 
    background: linear-gradient(180deg, rgb(234, 139, 234), white);
    border-radius: 10px;


}

.row1-col1 {
    background: url(./images/2/img02-1.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.row1-col2 {
    background: url(./images/2/img02-2.png) no-repeat;
    background-size: cover;
    background-position: 60% 10%;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;

}

.row2-col1 {
    background: url(./images/2/img02-3.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.row2-col2 {
    background: url(./images/2/img02-4.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.row2-col3 {
    background: url(./images/2/img02-5.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 1vw;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.row3-col1 {
    background: url(./images/2/img02-6.png) no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.row3-col2 {
    background: url(./images/2/img02-5.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.row1-col1:hover {
    transform: scale(1.1);
}

.row1-col2:hover {
    transform: scale(1.1);
}

.row2-col1:hover {
    transform: scale(1.1);
}

.row2-col2:hover {
    transform: scale(1.1);
}

.row2-col3:hover {
    transform: scale(1.1);
}

.row3-col1:hover {
    transform: scale(1.1);
}

.row3-col2:hover {
    transform: scale(1.1);
}


/* **********
Flaunt 
********* */


.flaunt-container {
    background: url(./images/img03.png)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;

    align-items: center;
    font-weight: bold;
    flex-direction: column;

}

.flaunt-container h2 {
    margin-top: 3vh;

}

.flaunt-container p {
    margin-top: 30vh;

}

/* **********
colors 
********* */

.blue-btn {
    background: blue;

    height: 3px;
    width: 50px;
    margin: 0;

}

.black-btn {
    background: black;

    height: 3px;
    width: 50px;
    margin: 0;
}

.cream-btn {
    background: #DAC0A7;

    height: 3px;
    width: 50px;
    margin: 0;
}

.olive-btn {
    background: olive;

    height: 3px;
    width: 50px;
    margin: 0;
}

.pink-btn {
    background: pink;

    height: 3px;
    width: 50px;
    margin: 0;
}

.colors-button a:hover {

    text-decoration: none;
    background-color: transparent !important;

}

.colors-button a {
    text-decoration: none;
}

.color-title {
    font-size: 2rem;
}

.color-img {
    overflow: hidden;
}

.color-img img {
    padding: 4.5vw;
    transform: scale(1.5);

}

.color-img img:hover {
    transform: scale(2);
    cursor: pointer;
    /* padding-right: 0; */
    /* margin-right: 0; */

}


@media screen and (max-width:575px) {
    .blue-btn {

        height: 3px;
        width: 30px;
        margin: 0;

    }

    .black-btn {

        height: 3px;
        width: 30px;
        margin: 0;
    }

    .cream-btn {

        height: 3px;
        width: 30px;
        margin: 0;
    }

    .olive-btn {


        height: 3px;
        width: 30px;
        margin: 0;
    }

    .pink-btn {


        height: 3px;
        width: 30px;
        margin: 0;
    }



}



/* *********
Anime
*********** */

.anime-class {
    /* background: url(./images/img05-3.png) no-repeat; */
    background-color: lineargradient(180deg, rgb(105, 27, 105), rgb(36, 30, 30));
    background-size: cover;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* border: solid black; */



}

.image-anime {
    padding: 0;
    /* margin: 100px; */
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    position: absolute;

}

.text_anime {
    position: absolute;
    margin-top: 10vh;
}

#circular-watch {
    animation: rotate-watch 20s linear infinite;
}

.text_anime h2 {
    font-size: 3.5vh;
}

.text_anime h4 {
    font-size: 3vh;
}

@keyframes rotate-watch {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:576px){
    .text_anime h2 {
        font-size: 11px;
    }
    
    .text_anime h4 {
        font-size: 10px;
    }
    .text_anime p{
        font-size: 10px;
    }
    .text_anime {
        position: absolute;
        margin-top: 4vh;
    }
     
}
@media screen and (min-width:577px) and (max-width:992px){
    .text_anime h2 {
        font-size: 18px;
    }
    
    .text_anime h4 {
        font-size: 16px;
    }
    .text_anime p{
        font-size: 14px;
    }
    .text_anime {
        position: absolute;
        margin-top: 4vh;
    }
     
}

/* **********
feature1
*********** */


.feature1 {
    /* background: url("./images/img07-1.png")no-repeat; */
    background-size: contain;
   
    /* border: solid black; */
}


.athlete-cont {
    background: url(./images/img07-5.jpg)no-repeat;
    background-position-y: 0;
    background-position-x: 10%;
    animation: identifier 15s infinite;
    background-size: 150%;
    /* height: 70vh; */
}


@keyframes identifier {
    0% {
        background-position-x: 0;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0;
    }
}


@media screen and (max-width:576px){
    .athlete-texts h2 {
        font-size: 3vw;
    }

    .athlete-texts h4 {
        font-size: 2.5vw;
    }

    .athlete-texts p {
        font-size: 2vw;
    }

    .athlete-texts{
        margin-right: 10vw;
    }
}


/* ************
Feature2 GPS 
************ */

.gps {
    background: url(./images/img08-1.jpg)no-repeat;
    background-size: cover;
height: 500px;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    
}

@media screen and (max-width:576px) {
   .gps{
    background-size: contain;
    /* height: 87%; */
   }
   .upper_texts h2 {
    font-size: 15px;
   
}

.upper_texts h4 {
    font-size: 8px;

}

.lower_texts p {
    font-size: 8px;
   
}
}
@media screen and (min-width:577px) and (max-width:992px){
    .gps{
        background-size: contain;
        height: 40%;
    }
    .upper_texts h2 {
        font-size: 12px;
       
    }
    
    .upper_texts h4 {
        font-size: 10px;
    
    }
    
    .lower_texts p {
        font-size: 8px;
       
    }
}

@media screen and (max-width:576px){
    .gps{
        height: 25%;
    }
    .upper_texts h2 {
        font-size: 10px;
       
    }
    
    .upper_texts h4 {
        font-size: 8px;
    
    }
    
    .lower_texts p {
        font-size: 8px;
       
    }
}



/* ************
Feature3 sleep 
************ */

.sleep {
    background: url(./images/img11.jpg)no-repeat;
    background-size: cover;
    position: relative;
}

.texts_sleep {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:992px) {
    .sleep {
        display: none;
    }
}


/* ************
Feature4 heart 
************ */


.heart_div {
    background: url(./images/img12.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 450px;

}

@media screen and (max-width:992px){
    .heart_div{
        height: 300px;
    }
}
@media screen and (max-width:576px){
    .heart_div{
        height: 250px;
    }
}


